<%- include("header-2") %>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="height-100v d-flex align-items-center justify-content-center">
            <div class="card card-authentication1 mb-0">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="card-title text-uppercase pb-2">Reset Password</div>
                        <p class="pb-2">Please enter your <b>OTP</b>. You will receive a <b>OTP</b> to create a new
                            password
                            via email.</p>
                        <form method="post" action="/admin/checkOtp">
                            <div class="form-group">
                                <label for="exampleInputEmailAddress" class="">OTP</label>
                                <div class="position-relative has-icon-right">
                                    <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow"
                                        placeholder="OTP" name="otp">
                                    <div class="form-control-position">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-light btn-block mt-3">Check OTP</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center py-3">
                    <p class="text-warning mb-0">Return to the <a href="/admin/"> Sign In</a></p>
                </div>
            </div>
        </div>
<%- include("footer-2") %>